/* Set ALL HTML elements with border-box sizing */* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: grey;
}
header {
  height: 140px;
  background-color: maroon;}
