/* Set ALL HTML elements with border-box sizing */* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #d2b48c;
}

header {
  height: 140px;
  background-color: #800000; <!--Maroon-->
}

header h2 {
  font-family: Montserrat, serif;
  color: #C0c0c0;
  margin: 0px;
  font-size: 18px;
  text-align: center;
}

.title {
  font-family: Rockwell, cursive;
  font-size: 72px;
  color: #C0c0c0;
  text-align: center;
  margin: 0;
  padding: 20px 0 0 0;
}



footer {
  background-color: #800000;
}

section {
  padding: 0 25%;
  margin: 80px 0;
}

h1, h2, h3 {
  font-family: Montserrat, serif;
  color: #000000;
  text-align: center;
  font-weight: 500
}

h1{font-size: 28px;}
h2{font-size: 26px;}
h3{font-size: 18px;}

footer p {
  color: #fff;
  text-align: center;
  padding: 30px;
  margin: 0;
}

img{
  width:50%;
  height:50%;
  border-radius:10px;
  border:1px solid #b19877;
}
