/* Set ALL HTML elements with border-box sizing */* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #d2b48c;
}
header {
  height: 140px;
  background-color: #800000; <!--Maroon-->
}

.title{
  font-family: Rockwell, cursive;
  font-size: 72px;
  color: #C0c0c0;
  text-align: center;
  margin: 0;
  padding: 20px 0 0 0;
}

footer {
  background-color: #800000;
  color: #fff;
  text-align: center;
  padding: 30px;
  margin: 0;
}
section{
  padding: 0 25%;
  margin: 80px 0;
}

